<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
     <add name="cnnSeguridad" connectionString="Server=DESKTOP-NEVDRSD\SQLEXPRESS;Database=FUNERARIA;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
		<add name="cnnNegocio" connectionString="Data Source=FCI000990\SQLEXPRESS;Initial Catalog=DER_NEGOCIO;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="cnnMaster" connectionString="Data Source=FCI000990\SQLEXPRESS;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
